#wrapper{
	width: 600px;
	background-color: gray;
	min-height: 600px;
	overflow: hidden;
	margin: 0 auto; 
	padding: 10px;
}

#sidebar {
	background:rgba(246,247,146,0.9); 
	padding:5%;
	width:150px; position:fixed; top:0; right:0;
	margin-right:90px;
	padding:10px;
}

#sidebar ul { 
	padding:0.5em 0 2em 0; 
}
#sidebar ul li { 
	color:rgba(0,0,0,0.4); 
	list-style:none; margin:0; 
	padding:0 0 0.825em 0; 
}

#summary {
	font-weight:300;  
	border-bottom:1px solid #ea2e49; 
}

footer { 
	background:rgba(246,247,146,0.9); 
	clear:both; 
	color:#444; 
	padding:1em 5%; 
	width:50%; 
}

img{
	max-width:570px;
}
/* Rendering */
body,
input,
textarea 						{ color:#333; /*-webkit-font-smoothing:antialiased;*/ } 

/* Families */
body							{ font-family:"tablet-gothic", verdana, arial, sans-serif; /* Weights from Typekit: 300, 400 */ }
h2,
h3 								{ font-family:"tablet-gothic-condensed", "arial narrow", arial, verdana, sans-serif; /* Weights from Typekit: 200, 900 */ }

/* Headings */
h1,h2,h3,h4,h5,h6 {
	font-weight:normal; 
}

h1 {
	font-family: "Helvetica Neue Light", Helvetica, Arial; 
	font-size: 1.5em;
	font-weight:300;
	letter-spacing:2px; 
	text-transform:uppercase;
	background:#ea2e49; 
	color:#fff; 
	display:inline-block; 
	padding:0.25em; 
	margin-top:0px;
}
h2 {
	font-family: Georgia;
	color:#fff; 
	font-weight:900;
	font-size:4.5em;
	letter-spacing:1px;
	line-height:1em;
	margin-top: 0px;
	margin-bottom: 15px;
}
h3 {
	font-family: "Helvetica Neue Light", Helvetica, Arial; 
	color:#fff;
	font-size:2em;
	font-weight:200;
	margin-bottom: 5px;
}
h4 {
	font-family: "Helvetica Neue Light", Helvetica, Arial; 
	color:#fff;
	font-size:1em;
	font-weight:200;
/*	margin-bottom: 5px;*/
}

/* Paragraph styles */
p, li {
	font-size:1em; 
	font-weight:400;
	line-height:1.5em;
	padding:0.5em 0; 
}


/* ---------------------------------------------------------------------------------------------------------- 
03 Layout ---------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

html 							{ background:#daede2; padding:5%; }
body 							{ background:#77c4d3; }